<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>scale_factor</key>
        <real>1</real>
        <key>category_names</key>
        <array>
        </array>         
        <key>bodies</key>
        <dict>

            <key>meteorite1</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_static</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_type</key>
                        <string></string>
                        <key>collision_group</key>
                        <string></string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 125.50000,110.00000 }</string>   
                                <string>{ 117.50000,75.00000 }</string>   
                                <string>{ 111.50000,60.00000 }</string>   
                                <string>{ 99.50000,46.00000 }</string>   
                                <string>{ 96.00000,116.00000 }</string>   
                                <string>{ 114.00000,121.00000 }</string>   
                                <string>{ 125.00000,117.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 85.00000,121.50000 }</string>   
                                <string>{ 96.00000,116.00000 }</string>   
                                <string>{ 58.00000,13.50000 }</string>   
                                <string>{ 45.00000,15.50000 }</string>   
                                <string>{ 21.00000,33.50000 }</string>   
                                <string>{ 19.50000,69.00000 }</string>   
                                <string>{ 63.00000,118.50000 }</string>   
                                <string>{ 72.00000,124.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 58.00000,13.50000 }</string>   
                                <string>{ 96.00000,116.00000 }</string>   
                                <string>{ 99.50000,46.00000 }</string>   
                                <string>{ 86.00000,25.50000 }</string>   
                                <string>{ 73.00000,13.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 19.50000,69.00000 }</string>   
                                <string>{ 21.00000,33.50000 }</string>   
                                <string>{ 13.50000,53.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 31.00000,98.50000 }</string>   
                                <string>{ 63.00000,118.50000 }</string>   
                                <string>{ 19.50000,69.00000 }</string>   
                                <string>{ 20.50000,90.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 63.00000,118.50000 }</string>   
                                <string>{ 31.00000,98.50000 }</string>   
                                <string>{ 51.00000,119.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 21.00000,33.50000 }</string>   
                                <string>{ 45.00000,15.50000 }</string>   
                                <string>{ 30.00000,23.50000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

            <key>meteorite2</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.51982,0.49701 }</string>
                <key>is_static</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_type</key>
                        <string></string>
                        <key>collision_group</key>
                        <string></string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 193.00000,54.00000 }</string>   
                                <string>{ 149.00000,27.00000 }</string>   
                                <string>{ 131.00000,19.00000 }</string>   
                                <string>{ 113.00000,15.00000 }</string>   
                                <string>{ 26.00000,123.00000 }</string>   
                                <string>{ 194.00000,66.00000 }</string>   
                                <string>{ 204.00000,62.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 217.00000,127.00000 }</string>   
                                <string>{ 208.00000,126.00000 }</string>   
                                <string>{ 214.00000,135.00000 }</string>   
                                <string>{ 225.00000,135.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 204.00000,93.00000 }</string>   
                                <string>{ 198.00000,103.00000 }</string>   
                                <string>{ 213.00000,99.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 201.00000,79.00000 }</string>   
                                <string>{ 204.00000,93.00000 }</string>   
                                <string>{ 215.00000,90.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 195.00000,151.00000 }</string>   
                                <string>{ 161.00000,157.00000 }</string>   
                                <string>{ 173.00000,163.00000 }</string>   
                                <string>{ 184.00000,164.00000 }</string>   
                                <string>{ 205.00000,159.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 207.00000,111.00000 }</string>   
                                <string>{ 203.00000,121.00000 }</string>   
                                <string>{ 224.00000,121.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 194.00000,66.00000 }</string>   
                                <string>{ 201.00000,79.00000 }</string>   
                                <string>{ 212.00000,78.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 188.00000,43.00000 }</string>   
                                <string>{ 171.00000,33.00000 }</string>   
                                <string>{ 149.00000,27.00000 }</string>   
                                <string>{ 193.00000,54.00000 }</string>   
                                <string>{ 198.00000,51.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 198.00000,103.00000 }</string>   
                                <string>{ 207.00000,111.00000 }</string>   
                                <string>{ 216.00000,108.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 198.00000,103.00000 }</string>   
                                <string>{ 203.00000,121.00000 }</string>   
                                <string>{ 207.00000,111.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 73.00000,155.00000 }</string>   
                                <string>{ 115.00000,153.00000 }</string>   
                                <string>{ 194.00000,66.00000 }</string>   
                                <string>{ 26.00000,123.00000 }</string>   
                                <string>{ 41.00000,150.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 214.00000,135.00000 }</string>   
                                <string>{ 208.00000,126.00000 }</string>   
                                <string>{ 203.00000,121.00000 }</string>   
                                <string>{ 195.00000,143.00000 }</string>   
                                <string>{ 214.00000,143.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 201.00000,79.00000 }</string>   
                                <string>{ 194.00000,66.00000 }</string>   
                                <string>{ 115.00000,153.00000 }</string>   
                                <string>{ 142.00000,160.00000 }</string>   
                                <string>{ 161.00000,157.00000 }</string>   
                                <string>{ 198.00000,103.00000 }</string>   
                                <string>{ 204.00000,93.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 171.00000,33.00000 }</string>   
                                <string>{ 188.00000,43.00000 }</string>   
                                <string>{ 191.00000,38.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 198.00000,103.00000 }</string>   
                                <string>{ 161.00000,157.00000 }</string>   
                                <string>{ 195.00000,143.00000 }</string>   
                                <string>{ 203.00000,121.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 115.00000,153.00000 }</string>   
                                <string>{ 73.00000,155.00000 }</string>   
                                <string>{ 81.00000,164.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 4.00000,65.00000 }</string>   
                                <string>{ 14.00000,118.00000 }</string>   
                                <string>{ 26.00000,123.00000 }</string>   
                                <string>{ 83.00000,8.00000 }</string>   
                                <string>{ 65.00000,9.00000 }</string>   
                                <string>{ 49.00000,12.00000 }</string>   
                                <string>{ 28.00000,21.00000 }</string>   
                                <string>{ 11.00000,37.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 195.00000,143.00000 }</string>   
                                <string>{ 161.00000,157.00000 }</string>   
                                <string>{ 195.00000,151.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 83.00000,8.00000 }</string>   
                                <string>{ 26.00000,123.00000 }</string>   
                                <string>{ 113.00000,15.00000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

            <key>player</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_static</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_type</key>
                        <string>playerCollision</string>
                        <key>collision_group</key>
                        <string>playerGroup</string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 35.00000,18.50000 }</string>   
                                <string>{ 82.50000,64.00000 }</string>   
                                <string>{ 77.50000,33.00000 }</string>   
                                <string>{ 71.50000,18.00000 }</string>   
                                <string>{ 42.00000,6.50000 }</string>   
                                <string>{ 31.00000,8.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 68.00000,6.00000 }</string>   
                                <string>{ 42.00000,6.50000 }</string>   
                                <string>{ 71.50000,18.00000 }</string>   
                                <string>{ 76.50000,10.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 74.00000,125.00000 }</string>   
                                <string>{ 74.00000,101.00000 }</string>   
                                <string>{ 25.50000,104.00000 }</string>   
                                <string>{ 25.50000,122.00000 }</string>   
                                <string>{ 31.50000,132.00000 }</string>   
                                <string>{ 52.00000,137.00000 }</string>   
                                <string>{ 64.00000,135.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 74.00000,101.00000 }</string>   
                                <string>{ 76.50000,81.00000 }</string>   
                                <string>{ 23.50000,73.00000 }</string>   
                                <string>{ 21.50000,84.00000 }</string>   
                                <string>{ 25.50000,104.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 76.50000,81.00000 }</string>   
                                <string>{ 80.50000,73.00000 }</string>   
                                <string>{ 82.50000,64.00000 }</string>   
                                <string>{ 28.50000,29.00000 }</string>   
                                <string>{ 24.50000,41.00000 }</string>   
                                <string>{ 23.50000,73.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 28.50000,29.00000 }</string>   
                                <string>{ 82.50000,64.00000 }</string>   
                                <string>{ 35.00000,18.50000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




